mixin docLeftMenuSdkList
    li
        a(href="https://github.com/evenid/php-sdk"
          target="https://github.com/evenid/php-sdk")

            | PHP

    li
        a(href="https://github.com/evenid/nodejs-sdk"
          target="https://github.com/evenid/nodejs-sdk")

            | Node.js