mixin docLeftMenu
    .left-menu
        .left-menu-title
            .clearfix
                h2 Documentation
        
        .left-menu-cat
            include ./docLeftMenuList
            +docLeftMenuList()