| {
|   "error": {
|     "type:": "{error_type}",
|     "messages": {
|       "main": "{main_message}",
|       "{invalid_param}": "{message}",
|       "{invalid_param2}": "{message}"
|       ...
|     }
|   }
| }