.bs-callout.bs-callout-danger
    h5
        | Cross-Site Request Forgery
    p
        | In order to guard your app against 
        a(href="http://en.wikipedia.org/wiki/Cross-site_request_forgery"
          target="http://en.wikipedia.org/wiki/Cross-site_request_forgery") Cross-Site Request Forgery
        | , you must ensure that received 
        code state
        |  equals passed 
        code state
        | .