pre
      | {
      |   "event_type":"user_did_update_personal_information",
      |   "user_id":"507c7f79bcf86cd7994f6c0e",
      |   "updated_fields":["nickname", "addresses"],
      |   "nickname":"newNickname",
      |   "addresses":[{
      |      ...
      |      "status":"new",
      |      "updated_fields":[]
      |   }]
      | }