.checkbox
    label
        input(type="checkbox", name="persistent_login", checked)
        span.desktop-only-block
            = __('This computer belongs to me.')
        span.tablet-only-block
            = __('This tablet belongs to me.')
        span.mobile-only-block
            = __('This phone belongs to me.')