extend ../layouts/baseAuthenticated

include /includes/formSep

block prepend title
    = __('Change password')

block appContentHeadTitle
    h2.no-overflow= __('Me')
    ul.cat-list.clearfix
        li
            a(href='/users/' + session.login.user.id + '/change-password'
              class= path === '/users/' + session.login.user.id + '/change-password' ? 'selected' : '')
                = __('Change password')

block appContent
    .form
        +formSep(__('Change password'))
        form(method="post", action= currentURI)
            div
                .form-fields-section
                    include ./includes/inputs/password
                    +password((_flow = 'changePassword'))
                
                .form-fields-section
                    include /includes/csrf
                    +csrf(csrfToken)
                    
                    button.btn.create(type="submit")= __('Change password')