extend ../layouts/baseUnauthenticated

block prepend title
    if !code
        = __('Reset my password')
    else
        = __('Change password')

block appContent
    .container
        .login-register-form-container
            .login-register-form-content
                .login-register-container
                    .login-container
                        .clearfix.login-register-header-container
                            .login-register-header
                                h2
                                    if !code
                                        = __('Reset my password')
                                    else
                                        = __('Change password')
                            if (!code)
                                .login-register-switch
                                    != __('or %slog in%s', '<a href="/login">', '</a>') 
                        
                        .login-form-container
                            form(method="post", action= currentURI)
                                if !code
                                    include ./includes/inputs/email
                                    +email((_flow = 'recoverPassword'), (_disabled = false))
                                else
                                    label.disabled
                                        = __('Your email')
                                    p= email

                                    include ./includes/inputs/password
                                    +password((_flow = 'recoverPassword'))

                                    include ./includes/inputs/persistentLogin

                                    input(type="hidden", name="email", value= email)

                                p
                                    include ../includes/csrf
                                    +csrf(csrfToken)
                                
                                div
                                    button.btn.full-width.create(type="submit")
                                        if !code
                                            = __('Reset my password')
                                        else
                                            = __('Change password')