.lightbox
    .overlay
    .lightbox-content
        .head
            .logo
            a(href="javascript:;").close-btn
                | &times;
        .main
            .main-wrapper
                .main-wrapper-content  
        .bottom

include ./learnMore
include ./firstRegistration