mixin license(date)
    .license-footer
        p
            | Some parts of this page may have been taken from 
            a(href="https://developers.google.com"
              target="https://developers.google.com") https://developers.google.com
            | , following the 
            a(href="http://creativecommons.org/licenses/by/3.0/"
              target="http://creativecommons.org/licenses/by/3.0/") Creative Commons Attribution 3.0 License
            | .
        p.date
            = 'Last updated ' + date