doctype html
html(lang= currentLocale)
    head
        title= code + '.' + state
        link(rel="stylesheet", href= staticURL('/css/oauthDesktopApp.css'))
    body
        p
            if (!auto)
                = __('Please copy the code below, switch to %s and past it there:', clientName)
            else
                = __('You can close this window and go back to %s.', clientName)
        if (!auto)
            form(method="get")
                p
                    textarea
                        = code + '.' + state