extend /layouts/baseOauthAuthorize

//- It's a mixin
include /includes/csrf

block formContent
    .login-container
        .client-logo-container
            img(src= client.logo + '/200', alt="")
        
        include ../includes/title
        +title(flow, client)

        include /includes/notifications
        +notificationBanner()
        
        form(method="post", action= currentURI)
            div
                if !code
                    include /users/includes/inputs/email
                    +email((_flow = 'recoverPassword'), (_disabled = false))
                else
                    label.disabled
                        = __('Your email')
                    p.recover-password-email-value= email

                    include /users/includes/inputs/password
                    +password((_flow = 'recoverPassword'))

                    include /users/includes/inputs/persistentLogin

                    input(type="hidden", name="email", value= email)

                p
                    include /includes/csrf
                    +csrf(csrfToken)

            .btn-container
                include ../includes/submitBtn
                +submitBtn(flow)